body{
	background:url(../img/cenario/solo1.png);
}

.zombie1{
	width:32px;
	height: 32px;
}

.zombie2{
	width:35px;
	height: 35px;
}

.zombie3{
	width:37px;
	height: 37px;
}

.ladoA{
	transition: scaleX(1);
}

.ladoB{
	transition: scaleX(-1);
}
.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: 1px solid #fff;
	background-color: #fff;
	opacity: 0.7;
}

.vidas{
	float: left;
}
.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;

}